.main {
  padding: 2em;
}

.songTitle {
  margin-bottom: 0;
}

.songAuthor {
  font-size: 1.5em;
}

.songMetadata {}

.songSection {
  margin-top: 1.5em;
}

.songSection .line {
  position: relative;
  margin-top: 1.5em;
}

.songSection .chord {
  position: absolute;
  color: red;
  bottom: 1em;
}